{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Workout Categories</title>
    <link rel="stylesheet" href="{% static 'css/categories.css' %}">
</head>
<body>

<div class="container">

    {% for category in categories %}
    <div class="category-card {{ category.name|lower }}"
         onclick="goToCategory('{{ category.id }}')">

        <div class="card-left">
            <h2>{{ category.name }}</h2>
            <p>{{ category.total_programs }} Workout Programs</p>
        </div>

        <div class="card-right">
            <img src="{{ category.image.url }}" alt="{{ category.name }}">
        </div>

    </div>
    {% endfor %}

</div>

<script src="{% static 'js/categories.js' %}"></script>
</body>
</html>