* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body, html{
    height: 100%;
}
/*welcome screen*/
#welcome{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: url("../images/fitness.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease;
    opacity: 1;
    z-index: 10;
}

#welcome .welcome-content {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}

#welcome h1{
    font-size: 3rem;
    margin-bottom: 10px;
}

#welcome p{
    font-size: 1.2rem;
}

#login-form{
    display: none;
    height: 100vh;
    width: 100%;
    background: #f5f5f5;
    justify-content: center;
    align-items: center;
    align-items: center;
    opacity: 0; /* fade in later */
    transition: opacity 1s ease;
    position: relative;
    z-index: 5;
}

.auth-form{
    height: 100vh;
    width: 100%;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    background: white;
    padding: 40px 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.form-container h2{
    margin-bottom: 25px;
    color: black;
}

.form-container input{
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 1rem;
}

.form-container button{
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    border: none;
    border-radius: 30px;
    background: #ff4e50;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form-container button:hover{
    background: aqua;
    color:#333;
}

.form-container a{
    display: block;
    margin: 10px 0;
    color: black;
    text-decoration: none;
}

.form-container a:hover{
    text-decoration: underline;
}

.signup-link{
    text-decoration: underline;
    margin-top: 15px;
    color: #333;
    cursor: pointer;
}